{% extends 'base_welcome_forms.html' %}
{% load static %}

{% block title %}Consulta de Horas Trabajadas{% endblock %}
{% block pageTitle %} Consulta de Horas Trabajadas {% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/welcome-stylesheet.css' %}">
{% endblock %}


{% block content %}
<div class="bg-welcome">
<div class="container-fluid">
  <div class="row justify-content-center ">
  <!-- DataTales Example -->
  <div class="card shadow mb-4 mt-4 vh-100 w-75">
    <div class="card-header py-3">
      <h3 class="m-0 font-weight-bold text-primary text-center">Total de horas trabajadas</h3>
    </div>
    <div class="card-body">
      {%if time_intervals%}
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            {% if time_intervals %}
            <tr>
              <td class="text-center"><strong>Id intervalo</strong></td>
              <td class="text-center"><strong>Fecha inicial</strong></td>
              <td class="text-center"><strong>Fecha Final</strong></td>
              <td class="text-center"><strong>Nombre Tarea</strong></td>
              <td class="text-center"><strong>Descripción</strong></td>
            </tr>
            <tbody>
              
            </tbody>
            {% for p in time_intervals %}
            <tr>
              <td>{{p.0.id}}</td>
              <td>{{p.0.init_time}}</td>
              <td>{{p.0.end_time}}</td>
              <td>{{p.1.name}}</td>
              <td>{{p.1.description}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <div class="container text-center">
              <span>
                Aún no hay nada que mostrar
              </span>
            </div>
            {% endif %}
          </tbody>
        </table>
      </div>
      {% else %}
      <span>
          No hay horas registradas
          <i class="fas fa-stopwatch"></i>
      </span>
      {% endif %}
    </div>
  </div>
  </div>

</div>
</div>
{% endblock %}