{% extends 'user_data.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Editar datos{% endblock %}

{% block form_title %} Edita tu información {% endblock %}
{% block welcome_form %}

  <form class="user" name="editUser" id="editUser" novalidate="novalidate" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-group">
      {{ user_form.username.errors }}
      {{ user_form.username.label_tag }}
      {{ user_form.username|attr:"type:email"|attr:"class:form-control form-control-user"|attr:"id:exampleInputEmail"|attr:"placeholder:Ingresa tu correo de Ubicutus"|attr:"aria-describedby:emailHelp" }}
      {% if user_form.username.help_text %}
        <p>{{ user_form.username.help_text|safe }}</p>
      {% endif %}
    </div>

    <div class="form-group">
      {{ user_form.first_name.errors }}
      <p> Nombre </p>
      {{ user_form.first_name|attr:"type:email"|attr:"class:form-control form-control-user"|attr:"id:exampleInputEmail"|attr:"placeholder:Ingresa tu correo de Ubicutus"|attr:"aria-describedby:emailHelp" }}
    </div>

    <div class="form-group">
      {{ user_form.last_name.errors }}
      <p> Apellido </p>
      {{ user_form.last_name|attr:"type:email"|attr:"class:form-control form-control-user"|attr:"id:exampleInputEmail"|attr:"placeholder:Ingresa tu correo de Ubicutus"|attr:"aria-describedby:emailHelp" }}
    </div>

    <div class="form-group">
      {{ profile_form.position.errors }}
      <p> Cargo </p>
      {{ profile_form.position|attr:"type:email"|attr:"class:form-control dropdown rounded"|attr:"id:exampleInputEmail"|attr:"placeholder:Ingresa tu correo de Ubicutus"|attr:"aria-describedby:emailHelp" }}
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block" id="sendMessageButton">Editar</button>
  </form>
  {% block welcome_links %}
  {% endblock welcome_links %}

{% endblock welcome_form %}