{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
<!--
    Template variables:
    mid: modals id
    form: a task creation form
-->

<div class="modal fade" id="{{mid}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    
  <div class="modal-content w-100">
    <div class="modal-header">

        <!--Modal title-->
      <h5 class="modal-title text-primary editTaskModal" id="exampleModalLabel">
          <i class="fas fa-pen"></i>
          Editar tarea   
      </h5>

      <!--Close button-->
      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>

    </div>

    <div class="modal-body w-100">
        
            
        <form method="POST" class="edit-task-mod-form" id="task-edit-form" data-submit="submitEdit">
            {% csrf_token %}
            
                <div class="fieldWrapper">
                    <!--Name field-->
                    <div class="form-group floating-label-form-group-edit controls mb-0 pb-2">
                        {{ form.name.label_tag }}         
                        {{ form.name |attr:"class:form-control"|attr:"placeholder:Nombre de la tarea"|attr:"style: background-color: rgba(233, 229, 200, 0.5)"|attr:"id:edit-task-name" }}
                        {% if form.name.help_text %}
                        <p class="help-block">{{ form.name.help_text|safe }}</p>
                        {% endif %}
                        <strong class="help-block text-danger">{{ form.name.errors }}</strong>
                    </div>

                    <!--Description Field-->
                    <div class="form-group floating-label-form-group-edit controls mb-0 pb-2">
                        {{ form.description.label_tag }}         
                        {{ form.description |attr:"class:form-control"|attr:"placeholder:Descripcion de la tarea"|attr:"style: background-color: rgba(233, 229, 200, 0.5)"|attr:"id:edit-task-description"|attr:"rows:4"}}
                        {% if form.description.help_text %}
                        <p class="help-block">{{ form.description.help_text|safe }}</p>
                        {% endif %}
                        <strong class="help-block text-danger">{{ form.description.errors }}</strong>
                    </div>

                    <!--Initial date Field-->
                    <div class="form-group floating-label-form-group-edit controls mb-0 pb-2">
                        {{ form.init_date.label_tag }}         
                        {{ form.init_date |attr:"class:form-control form-control-user"|attr:"placeholder:Fecha inicial"|attr:"style: background-color: rgba(233, 229, 200, 0.5)"|attr:"id:edit-task-init-date"|attr:"type:date"|attr:"required:true" }}
                        {% if form.init_date.help_text %}
                        <p class="help-block">{{ form.init_date.help_text|safe }}</p>
                        {% endif %}
                        <strong class="help-block text-danger">{{ form.init_date.errors }}</strong>
                    </div>

                    <!--Final date Field-->
                    <div class="form-group floating-label-form-group-edit controls mb-0 pb-2">
                        {{ form.end_date.label_tag }}         
                        {{ form.end_date |attr:"class:form-control form-control-user"|attr:"placeholder:Fecha inicial"|attr:"style: background-color: rgba(233, 229, 200, 0.5)"|attr:"id:edit-task-end-date"|attr:"type:date"|attr:"required:true" }}
                        {% if form.end_date.help_text %}
                        <p class="help-block">{{ form.end_date.help_text|safe }}</p>
                        {% endif %}
                        <strong class="help-block text-danger">{{ form.end_date.errors }}</strong>
                    </div>

                    <!--Status Field-->
                    <div class="form-group floating-label-form-group-edit controls mb-0 pb-2">
                        {{ form.status.label_tag }}         
                        {{ form.status |attr:"class:form-control"|attr:"placeholder:Fecha inicial"|attr:"style: background-color: rgba(233, 229, 200, 0.5)"|attr:"id:edit-status" }}
                        {% if form.status.help_text %}
                        <p class="help-block">{{ form.status.help_text|safe }}</p>
                        {% endif %}
                        <strong class="help-block text-danger">{{ form.status.errors }}</strong>
                    </div>
                </div>
            <br>
            <div class="form-group text-center">
                <button type="button" class="btn btn-outline-al btn-xl submitEdit" id="submitEdit">Save</button>
            </div>
        </form>

    </div>

    <div class="modal-footer">

        <button class="btn btn-primary" type="button" data-dismiss="modal">Cerrar</button>

    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static  'vendor/jquery/jquery.min.js' %}"></script>
    
    <!--Custom scripts-->
    <script>
        $(document).ready(function(){
            var currentTaskId = null;
            var $form = $('#task-edit-form');
            var $submitBtn = $('#submitEdit');

            $submitBtn.click(function(e){
                var url = '{% url "editar_tarea_new" %}'
                var dataArray = $form.serializeArray();
                var taskData = {}

                e.preventDefault();
                
                dataArray.forEach(function(it,i){
                    if(it.name!='initial-init_date'){
                        taskData[it.name] = it.value;
                    }
                });

                taskData.task_id=currentTaskId;
                console.log(taskData);

                $.ajax({
                    type:'POST',
                    url: url,
                    data: taskData,
                    success:function(json){
                        if(json.status == 'success'){
                            alert("Everything ok")
                        }
                        else if(json.status == 'error'){
                            alert("Something went wrong in the server");
                        }
                        else{
                            alert("Undefined behavior");
                            console.log(json);
                        }
                    },
                    error:function(xhr,errmsg,et){
                        alert("Error reaching the server");
                    },
                    dataType:'json'
                });
            });

            //Sets the current task to be edited
            $('.modal-edit-trigger').click(function (e){
                updateEditForm($(this));
            });

            // Given the dom item that contains the task data, updates the content of this
            // form with such data
            function updateEditForm(el){
                //Set the default form values
                $('#edit-task-name').val(el.data("tname"));
                $('#edit-task-description').val(el.data("tdescript"));
                //$('#edit-task-init-date').val(el.data("tinitdate"));
                //$('#edit-task-end-date').val(el.data("tenddate"));
                $('#edit-task-status').val(el.data("status"));
                currentTaskId = el.data("tid");
                
                $.ajax({
                    type:'POST',
                    url:'{% url "get_task" %}',
                    data:{
                        csrfmiddlewaretoken:'{{csrf_token}}',
                        task_id:currentTaskId
                    },
                    dataType:'json',
                    success:function(json){
                        if(json.success=='yes'){
                            alert("everything ok");
                            console.log(json);
                            console.log((new Date(json.init_date)).toISOString() )

                            document.getElementById('edit-task-init-date').valueAsDate = new Date(json.init_date);
                            document.getElementById('edit-task-end-date').valueAsDate = new Date(json.end_date);

                        }
                        else if(json.success=='no'){
                            alert("something went wrong");
                        }
                        else{
                            alert("undefined behavior");
                        }
                    },
                    error:function(xhr,errmsg,errt){
                        alert('Error conectando al servidor');
                    }

                });

                console.log(el.data("tinitdate"));

            }
        });
    </script>

  </div>
</div>
</div>