{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
	<title>edit task</title>
</head>
<body>
		<form method="POST">

          {% csrf_token %}
          {% for field in form %}
            <div class="fieldWrapper">
              <div class="form-group floating-label-form-group-edit controls mb-0 pb-2">
                {{ field.label_tag }} 
                
                {{ field |attr:"class:form-control"|attr:"placeholder:Information"|attr:"style: background-color: rgba(233, 229, 200, 0.5)" }}
                
                {% if field.help_text %}
                  <p class="help-block">{{ field.help_text|safe }}</p>
                {% endif %}
                <strong class="help-block text-danger">{{ field.errors }}</strong>
              </div>
            </div>
          {% endfor %}
          <br>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-outline-al btn-xl">Save</button>
          </div>
        </form>
</body>
</html>