{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
<!--
    Template variables:
    mid: modals id
    form: a task creation form
-->

<div class="modal fade" id="{{mid}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    
  <div class="modal-content w-100">
    <div class="modal-header">

        <!--Modal title-->
      <h5 class="modal-title text-primary editTaskModal" id="exampleModalLabel">
          <i class="fas fa-pen"></i>
          Editar tarea   
      </h5>

      <!--Close button-->
      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>

    </div>

    <div class="modal-body w-100">
        
            
        <form method="POST" class="edit-task-mod-form" id="task-edit-form" data-submit="submitEdit">
            {% csrf_token %}
            
                <div class="fieldWrapper">
                    <!--Name field-->
                    <div class="form-group floating-label-form-group-edit controls mb-0 pb-2">
                        <div class="font-weight-bold">
                            {{ form.name.label_tag }}     
                        </div>    
                        {{ form.name |attr:"class:form-control"|attr:"placeholder:Nombre de la tarea"|attr:"id:edit-task-name" }}
                        {% if form.name.help_text %}
                        <p class="help-block">{{ form.name.help_text|safe }}</p>
                        {% endif %}
                        <strong class="help-block text-danger">{{ form.name.errors }}</strong>
                    </div>

                    <!--Description Field-->
                    <div class="form-group floating-label-form-group-edit controls mb-0 pb-2">
                        <div class="font-weight-bold">
                            {{ form.description.label_tag }}
                        </div>
                        {{ form.description |attr:"class:form-control"|attr:"placeholder:Descripcion de la tarea"|attr:"id:edit-task-description"|attr:"rows:4"}}
                        {% if form.description.help_text %}
                        <p class="help-block">{{ form.description.help_text|safe }}</p>
                        {% endif %}
                        <strong class="help-block text-danger">{{ form.description.errors }}</strong>
                    </div>

                    <!--Initial date Field-->
                    <div class="form-group floating-label-form-group-edit controls mb-0 pb-2">
                        <div class="font-weight-bold">
                            {{ form.init_date.label_tag }}
                        </div>         
                        {{ form.init_date |attr:"class:form-control form-control-user"|attr:"placeholder:Fecha inicial"|attr:"id:edit-task-init-date"|attr:"type:date"|attr:"required:true" }}
                        {% if form.init_date.help_text %}
                        <p class="help-block">{{ form.init_date.help_text|safe }}</p>
                        {% endif %}
                        <strong class="help-block text-danger">{{ form.init_date.errors }}</strong>
                    </div>

                    <!--Final date Field-->
                    <div class="form-group floating-label-form-group-edit controls mb-0 pb-2">
                        <div class="font-weight-bold">
                            {{ form.end_date.label_tag }} 
                        </div>        
                        {{ form.end_date |attr:"class:form-control form-control-user"|attr:"placeholder:Fecha inicial"|attr:"id:edit-task-end-date"|attr:"type:date"|attr:"required:true" }}
                        {% if form.end_date.help_text %}
                        <p class="help-block">{{ form.end_date.help_text|safe }}</p>
                        {% endif %}
                        <strong class="help-block text-danger">{{ form.end_date.errors }}</strong>
                    </div>

                    <!--Status Field-->
                    <div class="form-group floating-label-form-group-edit controls mb-0 pb-2">
                        <div class="font-weight-bold">
                            {{ form.status.label_tag }}   
                        </div>      
                        {{ form.status |attr:"class:form-control"|attr:"placeholder:Fecha inicial"|attr:"id:edit-status" }}
                        {% if form.status.help_text %}
                        <p class="help-block">{{ form.status.help_text|safe }}</p>
                        {% endif %}
                        <strong class="help-block text-danger">{{ form.status.errors }}</strong>
                    </div>
                </div>
            <br>
            <div class="form-group text-center">
                <button type="button" class="btn btn-primary rounded w-100 btn-outline-al btn-xl submitEdit" id="submitEdit">Guardar</button>
            </div>
        </form>
        <!--Save msgs-->
        <div class="alert alert-success my-2 d-none" id="alert-save-succ"> Cambios guardados exitosamente. Refresca la página para ver los cambios </div>
        <div class="alert alert-danger my-2 d-none" id="alert-save-err"> No se pudieron guardar estos cambios. </div>
        <div class="alert alert-warning my-2 d-none" id="alert-save-warn"> Estos cambios son incorrectos. </div>
        <!--Get data msgs-->
        <div class="alert alert-danger my-2 d-none" id="alert-get-err"> Ocurrió un error y no se pudieron recuperar los datos </div>
        <div class="alert alert-warning my-2 d-none" id="alert-get-warn"> Estos datos no pueden ser recuperados </div>

    </div>

    <div class="modal-footer">

        <button class="btn btn-primary" type="button" data-dismiss="modal">Cerrar</button>

    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static  'vendor/jquery/jquery.min.js' %}"></script>
    
    <!--Custom scripts-->
    <script>
        $(document).ready(function(){
            var currentTaskId = null;
            var $form = $('#task-edit-form');
            var $formFields = $('#task-edit-form :input');
            var $submitBtn = $('#submitEdit');

            $submitBtn.click(function(e){
                var url = '{% url "editar_tarea_new" %}'
                var dataArray = $form.serializeArray();
                var taskData = {}

                resetMsgSave();

                e.preventDefault();
                
                dataArray.forEach(function(it,i){
                    if(it.name!='initial-init_date'){
                        taskData[it.name] = it.value;
                    }
                });

                taskData.task_id=currentTaskId;

                $.ajax({
                    type:'POST',
                    url: url,
                    data: taskData,
                    success:function(json){
                        if(json.status == 'success'){
                            raiseSuccSave();
                        }
                        else if(json.status == 'error'){
                            raiseWarnSave();
                        }
                        else{
                            alert("Undefined behavior");
                            console.log(json);
                        }
                    },
                    error:function(xhr,errmsg,et){
                        raiseErrSave();
                    },
                    dataType:'json'
                });
            });

            //Sets the current task to be edited
            $('.modal-edit-trigger').click(function (e){
                updateEditForm($(this));
            });

            // Given the dom item that contains the task data, updates the content of this
            // form with such data
            function updateEditForm(el){
                currentTaskId = el.data("tid"); //Get the calling id
                $formFields.prop('disabled',true); //disable this form while waiting for the response
                resetMsgGet();

                $.ajax({
                    type:'POST',
                    url:'{% url "get_task" %}',
                    data:{
                        csrfmiddlewaretoken:'{{csrf_token}}',
                        task_id:currentTaskId
                    },
                    dataType:'json',
                    success:function(json){
                        if(json.success=='yes'){
                            //If the server returns an appropiate response, 
                            //the update the form values with the received values
                            $('#edit-task-name').val(json.name);
                            $('#edit-task-description').val(json.description);
                            document.getElementById('edit-task-init-date').valueAsDate = new Date(json.init_date);
                            document.getElementById('edit-task-end-date').valueAsDate = new Date(json.end_date);
                            $('#edit-task-status').val(json.status);
                            $formFields.prop("disabled",false);
                        }
                        else if(json.success=='no'){
                            console.log("Operation rejected");
                            raiseWarnGet();
                        }
                        else{
                            alert("undefined behavior");
                        }
                    },
                    error:function(xhr,errmsg,errt){
                        console.log("Error reaching the host");
                        raiseErrGet();
                    }

                });

                console.log(el.data("tinitdate"));

            }

            ///// Aux functions: /////

            //Show an error message for the get data operation
            function raiseErrGet(){
                $('#alert-get-err').removeClass('d-none');
            }
            //Show a warning message for the get data operation
            function raiseWarnGet(){
                $('#alert-get-warn').removeClass('d-none');
            }
            //Reset all get-related msgs
            function resetMsgGet(){
                $('#alert-get-warn').addClass('d-none');
                $('#alert-get-err').addClass('d-none');
            }

            //Show an error message for the get data operation
            function raiseSuccSave(){
                $('#alert-save-succ').removeClass('d-none');
            }
            //Show an error message for the get data operation
            function raiseErrSave(){
                $('#alert-save-err').removeClass('d-none');
            }
            //Show a warning message for the get data operation
            function raiseWarnSave(){
                $('#alert-save-warn').removeClass('d-none');
            }
            //Reset all Save-related msgs
            function resetMsgSave(){
                $('#alert-save-warn').addClass('d-none');
                $('#alert-save-err').addClass('d-none');
                $('#alert-save-succ').addClass('d-none');
            }
            

        });
    </script>

  </div>
</div>
</div>