{% extends 'base_site.html' %}
{% load static %}
{% block pageTitle%} Dashboard {% endblock %}


{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Resumen</h1> {{ status_tasks}}
        <!--
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        -->
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Worked hours (weekly) -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Horas trabajadas (Esta semana)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ worked_hours_week}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clock fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- working hours (this year) -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Horas trabajadas (En Total)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800215"> {{worked_hours_total}} </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Completed tasks -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Tareas completadas</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{completed_task}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-check fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Number of tasks available for me-->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Tareas asignadas</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{assigned_task}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <-- clock card  ->
        <div class="col-xl-3 col-md-6 mb-4">
            <--Aquí hay que poner la dirección del reloj->
            <a href="" style="text-decoration: none;">
                <div class="border-left-primary shadow h-100 py-2 btn-primary rounded">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-100">Contar mi tiempo</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-stopwatch fa-2x text-light"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        -->
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Trabajo durante la última semana</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                    
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <!--Empty placeholder-->
                        <div id="hwsEmpty p-2">

                            <div class="w-100 text-center">
                                <i class="fas fa-chart-area fa-sm fa-fw fa-10x text-gray-400 text-center"></i>
                            </div>
                            <h6 class="m-0 font-weight-bold text-primary text-center">
                                Es momento de empezar a trabajar. ¡Buena suerte!
                            </h6>
                            
                        </div>
                        <canvas id="hours-worked-chart" data-url="{% url 'hours-worked-chart' %}"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Estado de mis tareas</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <div id="tasksEmpty">
                            <div class="w-100 text-center">
                                <i class="fas fa-chart-pie fa-sm fa-fw fa-10x text-gray-400 text-center"></i>
                            </div>
                            <h6 class="m-0 font-weight-bold text-primary text-center my-2">Aun no hay tareas que contar</h6>
                        </div>
                        <canvas id="status-chart" data-url="{% url 'status-chart' %}"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> Hecho
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Nuevo
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-warning"></i> En curso
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-danger"></i> Detenido
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Task Cart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Tareas recientes</h6>
                </div>
                <div class="card-body">
                    {% for task in recent_tasks_top5 %}
                        <h4 class="small font-weight-bold">{{ task.task__name }}</h4>
                        
                        {% if task.task__status == 'New' %}
                            <div class="text-success">
                                <strong>
                                    Nuevo 
                                    <i class="fas fa-star"></i>
                                </strong>
                            </div>
                        {% elif task.task__status == 'In progress' %}
                            <div class="text-warning">
                                <strong>
                                    En curso 
                                    <i class="fas fa-pen"></i>
                                </strong>
                            </div>
                        {% elif task.task__status == 'Waiting' %}
                            <div class="text-danger">
                                <strong>
                                    Detenido
                                    <i class="fas fa-snowflake"></i>
                                </strong>
                            </div>
                        {% elif task.task__status == 'Closed' %}
                            <div class="text-primary">
                                <strong>
                                    Hecho
                                    <i class="fas fa-check"></i>
                                </strong>
                            </div>
                        {% endif %}
                        <hr>
                    {% empty %}
                      <h6 class="m-0 font-weight-bold text-primary text-center">¿Todavía no tienes tareas? ¿Qué esperas?</h6>
                    {% endfor %}

                </div>
            </div>

            <!-- Color System -->
            <!--
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card bg-primary text-white shadow">
                        <div class="card-body">
                            Primary
                            <div class="text-white-50 small">#4e73df</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-success text-white shadow">
                        <div class="card-body">
                            Success
                            <div class="text-white-50 small">#1cc88a</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-info text-white shadow">
                        <div class="card-body">
                            Info
                            <div class="text-white-50 small">#36b9cc</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-warning text-white shadow">
                        <div class="card-body">
                            Warning
                            <div class="text-white-50 small">#f6c23e</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-danger text-white shadow">
                        <div class="card-body">
                            Danger
                            <div class="text-white-50 small">#e74a3b</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-secondary text-white shadow">
                        <div class="card-body">
                            Secondary
                            <div class="text-white-50 small">#858796</div>
                        </div>
                    </div>
                </div>
            </div>
            -->

        </div>

        <div class="col-lg-6 mb-4">
            
            <!-- Approach -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Tareas que más tiempo han consumido</h6>
                </div>
                <div class="card-body small font-weight-bold">
                    <!-- chart: top 10 time consumming tasks -->
                    <div id="thEmpty m-auto">
                        <div class="w-100 text-center">
                            <i class="fas fa-chart-bar fa-sm fa-fw fa-10x text-gray-400 text-center"></i>
                        </div>
                        <h6 class="m-0 font-weight-bold text-primary text-center">Aún no has invertido tiempo en ninguna tarea</h6>

                    </div>
                    <canvas id="task-hours-chart" data-url="{% url 'task-hours-chart' %}" class="container-fluid"></canvas>
                </div>
            </div>
            
            <!-- About backoffice system -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Sobre Backoffice</h6>
                </div>
                <div class="card-body">
                    
                    <p>Con el nuevo sistema de Backoffice de Ubicutus, mejora tu productividad al tener mejor control
                        del tiempo que le inviertes a las tareas más importantes, y priorizar fácilmente qué tareas 
                        requieren de tu atención. ¡Todo eso y más!
                    </p>
                    
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock %}

{% block cscripts %} 
  <script src="{%static  'js/demo/chart-area-demo.js' %}"></script>
  <script src="{%static  'js/demo/chart-pie-demo.js' %}"></script>
  <script src="{%static  'js/demo/chart-hbar-resume.js' %}"></script>
{% endblock %}