{% extends 'base_welcome_forms.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Registro de Horas{% endblock %}
{% block pageTitle %} Registro de Horas {% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/welcome-stylesheet.css' %}">
{% endblock %}

{% block welcomeMsg %}
<div class="row d-flex justify-content-center align-items-center"
    style="font-size: 150px; color: #C83764">
    <div>
        <i class="far fa-clock"></i>
    </div>
</div>
<h1 class="p-2 h2 text-gray-900"> <strong> ¡Registra tus horas! </strong> </h1>
<p class="p-4">Aquí podras registrar las horas que has trabajado en tus tareas.</p>
{% endblock %}

{% block form_title %} <strong>Tareas</strong> {% endblock %}
{% block welcome_form %}
  {% for task in tasks %}
  <a href="{% url 'nueva_hora' task.id %}" class="form-control form-control-user">
      <li>
          {{task.name}}
      </li>
  </a>
  {% endfor %}
{% endblock welcome_form %}