{%extends 'base_welcome.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/welcome-stylesheet.css' %}">
{% endblock %}

{% block welcomeMsg %}
    <h1 class = "p-4 h2 text-gray-900 mb-4"> <strong> Bienvenido al sistema Backoffice de Ubicutus </strong> </h1>
    <p class="p-4">Aquí podrás registrar tu productividad y solicitar información importante, ¡Como tus vacaciones!</p>
{% endblock %}
{% block form_title %}  ¡Bienvenido al trabajo! {% endblock %}

{% block welcome_form %}
<form class="user">
    <div class="form-group">
    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
    aria-describedby="emailHelp" placeholder="Ingresa tu correo de Ubicutus">
    </div>
    <div class="form-group">
    <input type="password" class="form-control form-control-user" id="exampleInputPassword"
    placeholder="Contraseña">
    </div>
    <div class="form-group">
    <div class="custom-control custom-checkbox small">
        <input type="checkbox" class="custom-control-input" id="customCheck">
        <label class="custom-control-label" for="customCheck">Recuérdame &#9834; </label>
    </div>
    </div>
    <a href="index.html" class="btn btn-primary btn-user btn-block">
    Ingresar
    </a>
</form>
{% endblock welcome_form %}

{% block welcome_links %}
<div class="text-center">
    <a class="small" href="forgot-password.html">¿Olvidaste tu contraseña?</a>
</div>
<div class="text-center">
    <a class="small" href="register.html">¡Crea una cuenta!</a>
</div>
{% endblock welcome_links %}