{% extends 'base_welcome_forms.html' %}
{% load static %}

{% block title %} Contador {% endblock %}
{% block pageTitle %} Contador {% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/welcome-stylesheet.css' %}">
{% endblock %}

{% block welcomeMsg %}
<h1 class="p-4 h2 text-gray-900 mb-4"> <strong> ¡Cuenta tu tiempo! </strong> </h1>
<div class="text-primary">
  <i class="fas fa-stopwatch fa-10x"></i>
</div>
<p class="p-4">Aquí podras contar el tiempo que has invertido en una tarea.</p>
{% endblock %}

{% block form_title %}
<h1 class="p-0 h2 text-gray-900 mb-5"> <strong> Contador </strong> </h1>
{% endblock %}

{% block welcome_form %}
  <div class="p-4 h2 text-gray-900 mb-4 text-center" id="chronoPage">{{ clock }}</div>  

  <div class="form">
    <button class="btn btn-primary btn-user btn-block rounded-pill" onclick="startChr( '{{ request.user.userprofile.clock }}' )">Empezar </button>
    <button class="btn btn-primary btn-user btn-block rounded-pill" onclick="stopChr()">Detener</button>
    <button class="btn btn-primary btn-user btn-block rounded-pill" onclick="resetChr()">Resetear</button>
  </div>

  <form class="user mt-4" method="POST" id="select-task-form">
    {% csrf_token %}
    <select name="list-hours" id="task-select" class="form-control">
      <option  id="optNone" value="-1" selected>Ninguna</option>
      {% for task in tasks %}
      <option value="{{ task.id }}" id="opt{{task.id}}" data-tname="{{task.name}}" data-tdescrp="{{task.description}}"
      data-indate="{{task.init_date}}" data-endate="{{task.end_date}}" data-status="{{task.status}}" >
         {{ task.name }}
      </option>
      {% endfor %}
    </select>
    <div class="p-3">
      <button type="submit" value="Select" class="btn btn-primary btn-user btn-block" id="sendHour">Asignar Hora</button>
      <div class="alert-warning alert d-none mt-4" id="no-task-alert"> Debe escoger una tarea válida </div>
    </div>
  </form>
{% endblock welcome_form %}