{% load static %}
{% load widget_tweaks %}
<!--
    Template variables:
    mid: modal id
    form: a task creation form
-->

<div class="modal fade" id="{{mid}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">

        <!--Modal title-->
      <h5 class="modal-title text-primary" id="exampleModalLabel">
          <i class="fas fa-plus"></i>
          Añadir tarea   
      </h5>

      <!--Close button-->
      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>

    </div>

    <div class="modal-body">
        
            
        <form class="user p-3" name="registerUser" id="registerUser" novalidate method="POST">
            
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group row">      
                {{form.name.label_tag}}
                {{ form.name|attr:"class: form-control form-control-user"|attr:"id: exampleName"|attr:"placeholder: Nombre Tarea" }}
                {{ form.name.errors }}
            </div>
            <div class="form-group row">
                {{ form.description|attr:"class: form-control form-control-plaintext"|attr:"id: exampleDesc"|attr:"placeholder: Descripción" }}
                {{ form.description.errors }}
            </div>
            <div class="form-group row">
                {{ form.init_date.label_tag}}
                {{ form.init_date|attr:"class: form-control form-control-user"|attr:"type:date"|attr:"id: exampleInitDate"|attr:"placeholder: 2020-1-1" }}
                {{ form.init_date.errors }}
            </div>
            <div class="form-group row">
                {{ form.end_date.label_tag}}
                {{ form.end_date|attr:"class: form-control form-control-user"|attr:"type:date"|attr:"id: exampleEndDate"|attr:"placeholder: 2020-1-1" }}
                {{ form.end_date.errors }}
            </div>
            <div class="form-group row">
                {{ form.status.label_tag}}
                {{ form.status|attr:"class: form-control dropdown rounded"|attr:"id: exampleStatus" }}
                {{ form.status.errors }}
            </div>
            <div class="form-group row">
                {{ form.user.label_tag}}
                {{ form.user|attr:"class: form-control dropdown rounded"|attr:"id: exampleStatus" }}
                {{ form.user.errors }}
            </div>
            
            <button type="submit" class="btn btn-primary btn-user btn-block" id="sendTask">Registrar tarea</button>
        </form>
            
        
        
    </div>
    <div class="modal-footer">

        <button class="btn btn-primary" type="button" data-dismiss="modal">Cerrar</button>

    </div>
  </div>
</div>
</div>