{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
<!--
    Template variables:
    mid: modal id
    form: a task creation form
-->

<div class="modal fade" id="{{mid}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content w-100">
    <div class="modal-header">

        <!--Modal title-->
      <h5 class="modal-title text-primary" id="exampleModalLabel">
          <i class="fas fa-plus"></i>
          Añadir tarea   
      </h5>

      <!--Close button-->
      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>

    </div>

    <div class="modal-body w-100">
        
            
        <form class="user p-4" name="registerUser" id="registerTaskMod" novalidate method="POST" data-url="{% url 'registrar_tarea' %}">
            
            {% csrf_token %}
            
            
            <div class="row">
                <!--Task name-->
                <div class="form-group w-100">      
                    {{ form.name.label_tag}}
                    {{ form.name|attr:"class: form-control form-control-user"|attr:"id: taskName"|attr:"placeholder: Nombre Tarea"|attr:"required:true" }}
                    {{ form.name.errors }}
                </div>
            </div>    

            <div class="row">
                <div class="col m-1">
                    <!--Init date-->
                    <div class="form-group row">
                        {{ form.init_date.label_tag}}
                        {{ form.init_date|attr:"class: form-control form-control-user"|attr:"type:date"|attr:"id:taskInitDate"|attr:"placeholder: 2020-1-1"|attr:"required:true" }}
                        {{ form.init_date.errors }}
                    </div>
                    <!--End date-->
                    <div class="form-group row">
                        {{ form.end_date.label_tag}}
                        {{ form.end_date|attr:"class: form-control form-control-user"|attr:"type:date"|attr:"id:taskEndDate"|attr:"placeholder: 2020-1-1"|attr:"required:true" }}
                        {{ form.end_date.errors }}
                    </div>
                </div>
                
                <div class="col m-1">
                    <!--status-->
                    <div class="form-group row m-auto">
                        {{ form.status.label_tag}}
                        {{ form.status|attr:"class: form-control dropdown rounded"|attr:"id: taskStatus"|attr:"required:true" }}
                        {{ form.status.errors }}
                    </div>
                </div>

            </div>
                {{ form.non_field_errors }}    
                <div class="row">
                    <!--Description-->
                    <div class="form-group row">
                        {{ form.description.label_tag }}
                        {{ form.description|attr:"class: form-control form-control-plaintext"|attr:"id: taskDescript"|attr:"placeholder: Descripción" |attr:"rows: 3"|attr:"required:true"}}
                        {{ form.description.errors }}
                    </div>
                </div>
                    
                <div class="row">
                    <!--submit-->
                    <button type="submit" class="btn btn-primary btn-user btn-block" id="sendTask">Registrar tarea</button>
                </div>
            
                <div class="alert-warning alert my-3" id="alert-add-warning">Asegúrese de llenar los campos correctamente. Debe añadir nombre y descripción</div>
                <div class="alert-success alert my-3" id="alert-add-success">La tarea ha sido añadida correctamente. Refresque la página para observar cambios</div>
                <div class=" alert-danger alert my-3" id="alert-add-error">Su tarea no pudo ser añadida correctamente.</div>
            
        </form>

    </div>

    <div class="modal-footer">

        <button class="btn btn-primary" type="button" data-dismiss="modal">Cerrar</button>

    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static  'vendor/jquery/jquery.min.js' %}"></script>
    
    <!--Custom scripts-->
        <!--Custom django viarable declarations-->
    <script> var dataUrl = '{% url "registrar_tarea" %}';</script>
    <script src="{% static 'js/taskModelForm.js' %}"></script>
  </div>
</div>
</div>