{% extends 'base_welcome_forms.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Registro de Horas Trabajadas{% endblock %}
{% block pageTitle %} Registro de Horas Trabajadas {% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/welcome-stylesheet.css' %}">
{% endblock %}


{% block welcomeMsg %}
<div class="row d-flex justify-content-center align-items-center" style="font-size: 150px; color: #C83764">
  <div>
    <i class="far fa-clock"></i>
  </div>
</div>
{% endblock %}

{% block form_title %}
<strong> Registrar hora </strong>
{% endblock %}

{% block welcome_form %}
<form class="user" name="registerTimeInterval" id="registerTimeInterval" novalidate method="POST">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="form-group row">
    <div class="col-3 col-form-label">
      {{ form.init_time.label_tag }}
    </div>
    <div class="col-sm-9 mb-3 mb-sm-0">
      {{ form.init_time.errors }}
      {{ form.init_time|attr:"class: form-control form-control-user"|attr:"type:text"|attr:"placeholder: 1/1/2020 10:00" }}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3 col-form-label">
      {{ form.end_time.label_tag }}
    </div>
    <div class="col-sm-9">
      {{ form.end_time.errors }}
      {{ form.end_time|attr:"class: form-control form-control-user"|attr:"type:text"|attr:"placeholder: 1/1/2020 10:00" }}
    </div>
  </div>
  <button type="submit" class="col-12 btn btn-primary btn-user btn-block rounded-pill">Registrar</button>
</form>
{% endblock welcome_form %}

{% block cscripts %} 
  <link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css"/ >
  <script src="/static/js/jquery_date/jquery.js"></script>
  <script src="/static/js/jquery_date/jquery.datetimepicker.full.min.js"></script>

  <script>
    jQuery('#initDate').datetimepicker({format:'d/m/Y H:i'});
  </script>

  <script>
    jQuery('#endDate').datetimepicker({format:'d/m/Y H:i'});
  </script>
{% endblock %}