{% extends 'base_welcome_forms.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Enviar reporte{% endblock %}
{% block pageTitle %}Enviar reporte{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/welcome-stylesheet.css' %}">
{% endblock %}


{% block welcomeMsg %}
<img class="p-4 img-fluid" src="{% static 'img/injury.png' %}" alt="">
<small class="text-center p-2 ">
</small>
{% endblock %}

{% block form_title %}
<h1 class="p-1 h2 text-gray-900 mb-3 text-center"> <strong>Reportar falta</strong></h1>
{% endblock %}

{% block welcome_form %}
<form class="user" name="sendVacation" id="sendVacation" novalidate method="POST">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="form-group row">
    <label class="col-5 col-form-label"> {{ form.date.label_tag }}</label>
    <div class="col-7">
      {{ form.date|attr:"class: form-control form-control-user"|attr:"type:date"|attr:"id: exampleInitDate"|attr:"placeholder: 2020-1-1" }}
    </div>
    {{ form.date.errors }}
  </div>
  <div class="form-group row">
    <label class="col-form-label">{{ form.description.label_tag}}</label>
    {{ form.description|attr:"class: form-control form-control-plaintext"|attr:"id: exampleDesc"|attr:"placeholder: Tu información adicional aquí" }}
    {{ form.description.errors }}
  </div>
  <button type="submit" class="btn btn-primary btn-user btn-block" id="sendTask">Enviar Solicitud</button>
</form>
{% endblock welcome_form %}