{% extends 'base_welcome_forms.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Solicitar Vacaciones{% endblock %}
{% block pageTitle %}Solicitar Vacaciones{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/welcome-stylesheet.css' %}">
{% endblock %}


{% block welcomeMsg %}
  <img class="p-4 img-fluid" src="{% static 'img/beach.png' %}" alt="">
  <small class="text-center p-2 ">
    Aquí podrás solicitar tus vacaciones.
    Especifica el día en que esperas iniciarlas, 
    la fecha en que esperas terminarlas, y alguna observación que nosotros debamos tener en 
    cuenta.
    ¡Así de simple!
  </small>
{% endblock %}

{% block form_title %}
<h1 class = "p-1 h2 text-gray-900 mb-3 text-center"> <strong>Solicitar Vacaciones </strong></h1>
{% endblock %}

{% block welcome_form %}
<form class="user" name="sendVacation" id="sendVacation" novalidate method="POST">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="form-group row">
    <label class="col-4 col-form-label"> {{ form.init_date.label_tag }}</label>
    <div class="col-8">
      {{ form.init_date|attr:"class: form-control form-control-user"|attr:"type:date"|attr:"id: exampleInitDate"|attr:"placeholder: 2020-1-1" }}
    </div>
    {{ form.init_date.errors }}
  </div>
  <div class="form-group row">
    <label class="col-4 col-form-label">{{ form.end_date.label_tag}}</label>
    <div class="col-8">
      {{ form.end_date|attr:"class: form-control form-control-user"|attr:"type:date"|attr:"id: exampleEndDate"|attr:"placeholder: 2020-1-1" }}
    </div>
    {{ form.end_date.errors }}
  </div>
  <div class="form-group row">
    <label class="col-8 col-form-label">Días restantes</label>
    <div class="col-4">
      <div class="form-control text-center rounded-pill p-1 margin-auto" id="remaining_days" readonly><h3 class="p-0"><strong>{{ remaining_days }}</strong></h3></div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label">{{ form.description.label_tag}}</label>
    {{ form.description|attr:"class: form-control form-control-plaintext"|attr:"id: exampleDesc"|attr:"placeholder: Tu información adicional aquí" }}
    {{ form.description.errors }}
  </div>
  <button type="submit" class="btn btn-primary btn-user btn-block" id="sendTask">Enviar Solicitud</button>
</form>
{% endblock welcome_form %}