{% extends 'base_site.html' %}
{% load static %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Solicitud de Vacaciones</h1>

  <form class="form" action="#">
    <div class="form-group row">
      <label for="vacationdate_i" class="col-2 col-form-label">Fecha inicial</label>
      <div class="col-4">
        <input class="form-control" type="date" id="vacationdate_i" name="vacationdate_i">
      </div>
    </div>
    <div class="form-group row">
      <label for="vacationdate_f" class="col-2 col-form-label">Fecha final</label>
      <div class="col-4">
        <input class="form-control" type="date" id="vacationdate_f" name="vacationdate_f">
      </div>
    </div>
    <div class="form-group row">
      <label for="remaining_days" class="col-2 col-form-label">Dias restantes</label>
      <div class="col-4">
        <input class="form-control" id="remaining_days" type="text" placeholder="Aquí la resta..." readonly>
      </div>
    </div>
    <div class="form-group row">
      <label for="info" class="col-2 col-form-label">Información extra:</label>
      <div class="col-4"><textarea class="form-control" rows="3" id="info" name="info"></textarea></div>
    </div>
    <button type="submit" class="col-6 border-left-primary shadow h-100 py-2 btn-primary rounded">Enviar Solicitud</button>
  </form>


</div>
<!-- /.container-fluid -->


{% endblock %}