{% extends 'base_site.html' %}
{% load static %}


{% block pageTitle %}Tareas{% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <center>
  <h1 class="h3 mb-4 text-gray-800 ">Tareas en las que has trabajado</h1></center>


<!-- /.container-fluid -->
<!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <!-- Task Card : New Task -->
        <div class="col-lg-6 mb-4">

            <div class="card shadow mb-4">
                <div class="card-header bg-success py-2">
                    <div class="row">
                        <div class="col-11 m-auto">
                            <h6 class="m-0 font-weight-bold text-white h-100">
                                <i class="fas fa-star"></i> Nuevo
                            </h6>
                        </div>
                        <div class="btn text-light col-1" type="button" data-toggle="collapse" 
                             data-target="#newBody" aria-expanded="true" aria-controls="newBody">
                            <i class="fas fa-caret-down"></i>
                        </div>
                    </div>
                </div>
                <div class="card-body collapse show" id="newBody">
                    {% for task in new %}
                        {% include 'task_item_list_wcontext.html' with item_task=task %}
                    {% empty %}
                    <span>
                        No hay nada que hacer aquí por ahora 
                        <i class="fas fa-umbrella-beach mr-1"></i>
                    </span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Content Column -->
        <!-- Task Card : In progress Task -->
        <div class="col-lg-6 mb-4">

            <div class="card shadow mb-4">
                <div class="card-header bg-warning py-2">
                    <div class="row">
                        <div class="col-11 m-auto">
                            <h6 class="m-0 font-weight-bold text-white h-100">
                                <i class="fas fa-pen"></i> En Curso
                            </h6>
                        </div>
                        <div class="btn text-light col-1" type="button" data-toggle="collapse" 
                             data-target="#inproBody" aria-expanded="true" aria-controls="newBody">
                            <i class="fas fa-caret-down"></i>
                        </div>
                    </div>
                </div>
                <div class="card-body collapse show" id="inproBody">
                    {% for task in inpro %}
                        {% include 'task_item_list_wcontext.html' with item_task=task %}
                    {% empty %}
                    <span>
                        No hay nada que hacer aquí por ahora 
                        <i class="fas fa-umbrella-beach mr-1"></i>
                    </span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        
        <!-- Content Column -->
         <!-- Task Card : Freezed Task -->
       <div class="col-lg-6 mb-4">

            <div class="card shadow mb-4">
                <div class="card-header bg-danger py-2">
                    <div class="row">
                        <div class="col-11 m-auto">
                            <h6 class="m-0 font-weight-bold text-white h-100">
                                <i class="fas fa-snowflake"></i> Detenido
                            </h6>
                        </div>
                        <div class="btn text-light col-1" type="button" data-toggle="collapse" 
                            data-target="#freezeBody" aria-expanded="true" aria-controls="newBody">
                            <i class="fas fa-caret-down"></i>
                        </div>
                    </div>
                </div>
                <div class="card-body collapse show" id="freezeBody">
                    {% for task in waiting %}
                        {% include 'task_item_list_wcontext.html' with item_task=task %}
                    {% empty %}
                    <span>
                        No hay nada que hacer aquí por ahora 
                        <i class="fas fa-umbrella-beach mr-1"></i>
                    </span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Content Column -->
       <!-- Task Card : Done Task -->
       <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header bg-primary py-2">
                    <div class="row">
                        <div class="col-11 m-auto">
                            <h6 class="m-0 font-weight-bold text-white h-100">
                                <i class="fas fa-check"></i> Hecho
                            </h6>
                        </div>
                        <div class="btn text-light col-1" type="button" data-toggle="collapse" 
                            data-target="#doneBody" aria-expanded="true" aria-controls="newBody">
                            <i class="fas fa-caret-down"></i>
                        </div>
                    </div>
                </div>
                <div class="card-body collapse show" id="doneBody">
                    {% for task in done %}
                        {% include 'task_item_list_wcontext.html' with item_task=task %}
                    {% empty %}
                    <span>
                        No hay nada que hacer aquí por ahora 
                        <i class="fas fa-umbrella-beach mr-1"></i>
                    </span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-4">
        <!-- Task Cart -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary float-left margin-auto">Todas</h6>

                <!--Add task button-->
                <div class="btn float-right p-0" data-toggle="modal" data-target="#addTaskModal">
                    <i class="fas fa-plus float-right"></i>
                </div>
                
                {% include 'new_task_modal.html' with mid="addTaskModal" form=new_task_form%}
                
            </div>
            <div class="card-body">
                <script>
                    
                </script>
                {% for pair in tasksWForms %}
                    {% include 'task_list_item.html' with mtask=pair.0 mform=pair.1 %}
                {% endfor %}
                
            </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}