{% extends 'base_site.html' %}
{% load static %}


{% block pageTitle %}Tareas{% endblock %}

{% block content %}
<div class="container-fluid">

  <!-- Page Heading-->
  <center>
  <h1 class="h3 mb-4 text-gray-800 mt-4">Tareas en las que has trabajado</h1></center>


<!-- /.container-fluid -->
<!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <!-- Task Card : New Task -->
        <div class="col-lg-6 mb-4">

            <div class="card shadow mb-4">
                <div class="card-header bg-success py-2">
                    <div class="row">
                        <div class="col-11 m-auto">
                            <h6 class="m-0 font-weight-bold text-white h-100">
                                <i class="fas fa-star"></i> Nuevo
                            </h6>
                        </div>
                        <div class="btn text-light col-1" type="button" data-toggle="collapse" 
                             data-target="#newBody" aria-expanded="true" aria-controls="newBody">
                            <i class="fas fa-caret-down"></i>
                        </div>
                    </div>
                </div>
                <div class="card-body collapse show overflow-auto vh-70" id="newBody">
                    <ul class=" list-unstyled">
                        <li>
                            {% for task in new %}
                                {% include 'task_item_list_wcontext.html' with item_task=task modal="edit-task-modal" %}
                            {% empty %}
                            <span>
                                No hay nada que hacer aquí por ahora 
                                <i class="fas fa-umbrella-beach mr-1"></i>
                            </span>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Content Column -->
        <!-- Task Card : In progress Task -->
        <div class="col-lg-6 mb-4">

            <div class="card shadow mb-4">
                <div class="card-header bg-warning py-2">
                    <div class="row">
                        <div class="col-11 m-auto">
                            <h6 class="m-0 font-weight-bold text-white h-100">
                                <i class="fas fa-pen"></i> En Curso
                            </h6>
                        </div>
                        <div class="btn text-light col-1" type="button" data-toggle="collapse" 
                             data-target="#inproBody" aria-expanded="true" aria-controls="newBody">
                            <i class="fas fa-caret-down"></i>
                        </div>
                    </div>
                </div>
                <div class="card-body collapse show overflow-auto vh-70" id="inproBody">
                    <ul class="list-unstyled">
                        <li>
                            {% for task in inpro %}
                                {% include 'task_item_list_wcontext.html' with item_task=task modal="edit-task-modal" %}
                            {% empty %}
                            <span>
                                No hay nada que hacer aquí por ahora 
                                <i class="fas fa-umbrella-beach mr-1"></i>
                            </span>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        
        <!-- Content Column -->
         <!-- Task Card : Freezed Task -->
       <div class="col-lg-6 mb-4">

            <div class="card shadow mb-4">
                <div class="card-header bg-danger py-2">
                    <div class="row">
                        <div class="col-11 m-auto">
                            <h6 class="m-0 font-weight-bold text-white h-100">
                                <i class="fas fa-snowflake"></i> Detenido
                            </h6>
                        </div>
                        <div class="btn text-light col-1" type="button" data-toggle="collapse" 
                            data-target="#freezeBody" aria-expanded="true" aria-controls="newBody">
                            <i class="fas fa-caret-down"></i>
                        </div>
                    </div>
                </div>
                <div class="card-body collapse show overflow-auto vh-70" id="freezeBody">
                    <ul class="list-unstyled">
                        {% for task in waiting %}
                            {% include 'task_item_list_wcontext.html' with item_task=task modal="edit-task-modal" %}
                        {% empty %}
                        <span>
                            No hay nada que hacer aquí por ahora 
                            <i class="fas fa-umbrella-beach mr-1"></i>
                        </span>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Content Column -->
       <!-- Task Card : Done Task -->
       <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header bg-primary py-2">
                    <div class="row">
                        <div class="col-11 m-auto">
                            <h6 class="m-0 font-weight-bold text-white h-100">
                                <i class="fas fa-check"></i> Hecho
                            </h6>
                        </div>
                        <div class="btn text-light col-1" type="button" data-toggle="collapse" 
                            data-target="#doneBody" aria-expanded="true" aria-controls="doneBody">
                            <i class="fas fa-caret-down"></i>
                        </div>
                    </div>
                </div>
                <div class="card-body collapse show overflow-auto vh-70" id="doneBody">
                    <ul class="list-unstyled">
                        <li class="text-center h-100 d-flex flex-column align-items-center ">
                            {% for task in done %}
                                {% include 'task_item_list_wcontext.html' with item_task=task modal="edit-task-modal" %}
                            {% empty %}
                            <div class="container">
                                <span class="my-3">
                                    No hay nada que hacer aquí por ahora 
                                </span>
                            </div>
                            <div class="container">
                                <i class="fas fa-umbrella-beach mr-1 fa-10x"></i>
                            </div>
                            {% endfor %}
                        </li>    
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-4">
        <!-- Task Card -->
        <!-- all -->
        <div class="card shadow mb-4">
            <div class="card-header py-2 d-flex align-items-center">
                
                <h6 class="m-0 font-weight-bold text-primary margin-auto mr-auto">Todas</h6>

                <div class="btn p-0 mx-4" type="button" data-toggle="collapse" 
                    data-target="#allBody" aria-expanded="true" aria-controls="allBody">
                    <i class="fas fa-caret-down"></i>
                </div>

                <!--Add task button-->
                <div class="btn p-0" data-toggle="modal" data-target="#addTaskModal" id="add-task-btn">
                    <i class="fas fa-plus float-right"></i>
                </div>
                
                
                
            </div>

            <div class="card-body collapse show overflow-auto vh-100    " id="allBody">
                <ul class="list-unstyled">
                    <li>
                        {% for task in all %}
                            {% include 'task_list_item.html' with mtask=task modal='edit-task-modal' %}
                        {% empty %}
                            No hay ninguna tarea que mostrar
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

    <!--Info modals-->
    {% for task in all %}
        {% include 'task_modal.html' with mod_task=task %}
    {% endfor %}
    <!--Edit Modal-->
    {% include 'edit_task_modal.html' with form=edit_task_form mid="edit-task-modal" %}
    <!--Add task modal-->
    {% include 'new_task_modal.html' with mid="addTaskModal" form=new_task_form%}
{% endblock %}

