{% extends 'base_site.html' %}
{% load static %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Tareas en las que has trabajado</h1>


<!-- /.container-fluid -->
<!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Task Cart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">En Curso</h6>
                </div>
                <div class="card-body">
                    <!--Task-->
                    <h4 class="small font-weight-bold">Crear las tablas de la base</h4>
                    <div class="text-warning">
                        <strong>
                            En curso
                            <i class="fas fa-pen"></i>
                        </strong>
                    </div>
                    <hr>
                    <!--Endtask-->

                    <h4 class="small font-weight-bold">Limpiar los datos</h4>
                    <div class="text-warning">
                        <strong>
                            En curso
                            <i class="fas fa-pen"></i>
                        </strong>
                    </div>
                    <hr>
                    
                    <h4 class="small font-weight-bold">Crear vista login</h4>
                    <div class="text-warning">
                        <strong>
                            En curso
                            <i class="fas fa-pen"></i>
                        </strong>
                    </div>
                    <hr>

                    <h4 class="small font-weight-bold"> Escribir los documentos</h4>
                    <div class="text-warning">
                        <strong>
                            En curso
                            <i class="fas fa-pen"></i>
                        </strong>
                    </div>
                    <hr>

                    <h4 class="small font-weight-bold">Reuniones</h4>
                    <div class="text-warning">
                        <strong>
                            En curso
                            <i class="fas fa-pen"></i>
                        </strong>
                    </div>
                    <hr>

                </div>
            </div>
        </div>

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Task Cart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Recientes</h6>
                </div>
                <div class="card-body">
                    <!--Task-->
                    <h4 class="small font-weight-bold">Crear las tablas de la base</h4>
                    <div class="text-danger">
                        <strong>
                            Detenido
                            <i class="fas fa-snowflake"></i>
                        </strong>
                    </div>
                    <hr>
                    <!--Endtask-->

                    <h4 class="small font-weight-bold">Limpiar los datos</h4>
                    <div class="text-warning">
                        <strong>
                            En curso
                            <i class="fas fa-pen"></i>
                        </strong>
                    </div>
                    <hr>
                    
                    <h4 class="small font-weight-bold">Crear vista login</h4>
                    <div class="text-primary">
                        <strong>
                            Hecho 
                            <i class="fas fa-check"></i>
                        </strong>
                    </div>
                    <hr>

                    <h4 class="small font-weight-bold"> Escribir los documentos</h4>
                    <div class="text-warning">
                        <strong>
                            En curso
                            <i class="fas fa-pen"></i>
                        </strong>
                    </div>
                    <hr>

                    <h4 class="small font-weight-bold">Reuniones</h4>
                    <div class="text-primary">
                        <strong>
                            Hecho 
                            <i class="fas fa-check"></i>
                        </strong>
                    </div>
                    <hr>

                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Task Cart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Detenido</h6>
                </div>
                <div class="card-body">
                    <!--Task-->
                    <h4 class="small font-weight-bold">Crear las tablas de la base</h4>
                    <div class="text-danger">
                        <strong>
                            Detenido
                            <i class="fas fa-snowflake"></i>
                        </strong>
                    </div>
                    <hr>
                    <!--Endtask-->

                    <h4 class="small font-weight-bold">Limpiar los datos</h4>
                    <div class="text-danger">
                        <strong>
                            Detenido
                            <i class="fas fa-snowflake"></i>
                        </strong>
                    </div>
                    <hr>
                    
                    <h4 class="small font-weight-bold">Crear vista login</h4>
                    <div class="text-danger">
                        <strong>
                            Detenido
                            <i class="fas fa-snowflake"></i>
                        </strong>
                    </div>
                    <hr>

                    <h4 class="small font-weight-bold"> Escribir los documentos</h4>
                    <div class="text-danger">
                        <strong>
                            Detenido
                            <i class="fas fa-snowflake"></i>
                        </strong>
                    </div>
                    <hr>

                    <h4 class="small font-weight-bold">Reuniones</h4>
                    <div class="text-danger">
                        <strong>
                            Detenido
                            <i class="fas fa-snowflake"></i>
                        </strong>
                    </div>
                    <hr>

                </div>
            </div>
        </div>

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Task Cart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Hecho</h6>
                </div>
                <div class="card-body">
                    <!--Task-->
                    <h4 class="small font-weight-bold">Crear las tablas de la base</h4>
                    <div class="text-primary">
                        <strong>
                            Hecho 
                            <i class="fas fa-check"></i>
                        </strong>
                    </div>
                    <hr>
                    <!--Endtask-->

                    <h4 class="small font-weight-bold">Limpiar los datos</h4>
                    <div class="text-primary">
                        <strong>
                            Hecho 
                            <i class="fas fa-check"></i>
                        </strong>
                    </div>
                    <hr>
                    
                    <h4 class="small font-weight-bold">Crear vista login</h4>
                    <div class="text-primary">
                        <strong>
                            Hecho 
                            <i class="fas fa-check"></i>
                        </strong>
                    </div>
                    <hr>

                    <h4 class="small font-weight-bold"> Escribir los documentos</h4>
                    <div class="text-primary">
                        <strong>
                            Hecho 
                            <i class="fas fa-check"></i>
                        </strong>
                    </div>
                    <hr>

                    <h4 class="small font-weight-bold">Reuniones</h4>
                    <div class="text-primary">
                        <strong>
                            Hecho 
                            <i class="fas fa-check"></i>
                        </strong>
                    </div>
                    <hr>

                </div>
            </div>
        </div>
    </div>
</div>

        


{% endblock %}