{% load static %}
<!--
    Variables de este template:
        mod_task: la task cuyos datos están siendo mostrados en este template 
-->

<div class="modal fade" id="m{{mod_task.id|stringformat:'i'}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          {% if mod_task.status == 'New'%}
            <h5 class="modal-title text-success" id="exampleModalLabel">
              {{mod_task.name}}
              <i class="fas fa-star"></i>
            </h5>
            {% elif mod_task.status == 'In progress'%}
            <h5 class="modal-title text-warning" id="exampleModalLabel">
                {{mod_task.name}}
                <i class="fas fa-pen"></i>
            </h5>
            {% elif mod_task.status == 'Waiting'%}
            <h5 class="modal-title text-danger" id="exampleModalLabel">
                {{mod_task.name}}
                <i class="fas fa-snowflake"></i>
            </h5>
            {% elif mod_task.status == 'Closed' %}
            <h5 class="modal-title text-primary" id="exampleModalLabel">
                {{mod_task.name}}
                <i class="fas fa-check"></i>
            </h5>
            {% else %}
            <h5 class="modal-title text-secondary" id="exampleModalLabel">
                {{mod_task.name}}
                <i class="fas fa-question-circle"></i>
          </h5>
          {% endif %}

          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <!--Delete alerts-->
          <div class="alert alert-success d-none" id="succMsg{{mod_task.id}}">La tarea fue eliminada exitosamente. Refresca la página para observar cambios</div>
          <div class="alert alert-danger d-none" id="errMsg{{mod_task.id}}">La tarea no pudo ser eliminada</div>
          <div class="alert alert-warning d-none" id="warnMsg{{mod_task.id}}">Esta tarea no puede ser eliminada.</div>
          <!-- Archive alerts: -->
          <div class="alert alert-info d-none" id="info-msg-archive{{mod_task.id}}">
            {% if mod_task.archived %}
              Desarchivar la tarea le permitirá verla en todas las vistas de la página,
              haciéndola de fácil acceso. Presione otra vez para desarchivar.
            {% else %}
              Archivar la tarea le permitirá almacenarla y 
              no se mostrará más ni aquí ni en sus resumenes. Presione otra vez para confirmar.
            {% endif %}
          </div>
          <div class="alert alert-success d-none" id="succ-msg-archive{{mod_task.id}}">
            {% if mod_task.archived %}
              Tarea correctamente desarchivada
            {% else %}
              Tarea archivada exitosamente
            {% endif %}
          </div>
          <div class="alert alert-warning d-none" id="warn-msg-archive{{mod_task.id}}">
            {% if mod_task.archived %}
              Esta tarea no puede ser desarchivada
            {% else %}
              Esta tarea no puede ser archivada
            {% endif %}
          </div>
          <div class="alert alert-danger d-none" id="err-msg-archive{{mod_task.id}}">
            {% if mod_task.archived %}
              No se pudo desarchivar la tarea
            {% else %}
              No se pudo archivar la tarea
            {% endif %}
          </div>

            <div class="row">
                <div class="col">
                    <strong>Deadlines:</strong>
                    <ul class="list-unstyled">
                        <li><strong>Desde: </strong> {{mod_task.init_date}} <br></li>
                        <li><strong>Hasta: </strong> {{mod_task.end_date}} <br></li>
                    </ul>
                </div>
                <div class="col">
                    <a href="#" class="btn float-right" aria-label="Archivar-tarea" id="archive-btn{{mod_task.id}}">
                    <i class="fas fa-folder"></i>
                  </a>
                  <br>  
                </div>
            </div> 
              <div class="row px-4">
                <strong>Descripción:</strong>
                <div class="container border p-2 justify-content-center">
                    {{mod_task.description}}
                </div>
              </div>
        </div>
        <div class="modal-footer flex-fill">
          <a href="#" class="btn float-left delete-btn" id="delete-task-btn{{mod_task.id}}" 
             data-id="{{mod_task.id}}" title="Mantén presionado para eliminar. Esta acción es permanente.">
            <i class="text-danger fas fa-trash"></i>
          </a>
          <div class="progress w-100 invisible" id="progress-bar{{mod_task.id}}">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="0" 
                   aria-valuemin="0" aria-valuemax="100" id="progress-bar-val{{mod_task.id}}"></div>  
          </div>
          {% if mod_task.status == 'New'%}
            <button class="btn btn-success" type="button" data-dismiss="modal">Cerrar</button>
          {% elif mod_task.status == 'In progress'%}
            <button class="btn btn-warning" type="button" data-dismiss="modal">Cerrar</button>
          {% elif mod_task.status == 'Waiting'%}
            <button class="btn btn-danger" type="button" data-dismiss="modal">Cerrar</button>
          {% elif mod_task.status == 'Closed' %}
            <button class="btn btn-primary" type="button" data-dismiss="modal">Cerrar</button>
          {% else %}
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
          {% endif %}

        </div>
      </div>
    </div>
  </div>


  <!-- Jquery -->
  <script src="{%static  'vendor/jquery/jquery.min.js' %}"></script>
  <!--Custom script-->
  <script>
    $("m{{mod_task.id|stringformat:'i'}}").ready(function(){
      /// Delete variables ///
      var timerId = 0; //timeInterval object id
      var timePassed = 0; //Time passed
      var timeToDelete = 2000; //total time to pass
      var timeInterval = timeToDelete/3;  //time to wait between updates
      var relativeTime = 1;//an int from 1 to 100
      var $progressBarVal = $('#progress-bar-val{{mod_task.id}}');
      var $progressBar = $('#progress-bar{{mod_task.id}}');
      var $deleteBtn = $('#delete-task-btn{{mod_task.id}}');
      var deleted = false;
      ///////////////////////////////
      /// Archive Variables ///
      var archiveCounter = 0;
      var $archiveBtn = $('#archive-btn{{mod_task.id}}');
      ////////////////////////////// 
      
      $deleteBtn.on('mousedown touchstart',function(e){    
          resetMsgs();
          showBar();
          timerId = setInterval(timeHandler,timeInterval);
          
      }).bind('mouseup mouseleave touchend', function(){
            hideBar()
            timePassed = 0;
            clearInterval(timerId);
            updateBarProgress(0);
          });
      
      // Helper functions
      function timeHandler(){
        if(timePassed>=timeToDelete){
          clearInterval(timerId);
          hideBar()
          updateBarProgress(0);
          deleteTask();
          timePassed = 0;
        }
          timePassed += timeInterval;
          updateBarProgress((timePassed/timeToDelete)*100);
          
      }

      function deleteTask(){
        if (deleted){
          raiseWarn();
          return false;
        }

        var reqData = {
          csrfmiddlewaretoken:'{{csrf_token}}',
          task_id:'{{mod_task.id}}'
        }  
        var delUrl = "{% url 'eliminar_tarea' %}"
      
        //console.log(reqData);
        $.ajax({
          type:'POST',
          url : delUrl,
          data:reqData,
          success:function(json){
            if(json.status=='success'){
              $deleteBtn.addClass('disabled');
              raiseSucc();
              deleted = true;
            }
            else if(json.status=='error'){
              raiseErr();
            }
            else{
              alert("Respuesta indefinida");
              console.log(json);
            }
          },
          error:function(xhr, errmsg, err){
            raiseErr();
            console.log(errmsg)
          },
          dataType:'json'
        });
      }
      ///// Archive code  /////
      $archiveBtn.click(function(e){
        e.preventDefault();
        resetArchMsgs();
        if(archiveCounter == 0){
          archiveCounter += 1;
          raiseInfoArch();
        }
        else if(archiveCounter == 1){
          resetArchMsgs();
          archiveTask();
        }
        else if(archiveCounter == 2){
          raiseWarn();
        }
        else{
          console.log("Undefined behavior on task archive");
        }
      });


      function archiveTask(){
        resetArchMsgs();
        
        
        var archUrl = '{% if mod_task.archived %}{% url "desarchivar_tarea" %}{% else %}{% url "archivar_tarea" %}{%endif%}'
        
        var archData = {
          csrfmiddlewaretoken:'{{csrf_token}}',
          task_id:'{{mod_task.id}}'
        }

        $archiveBtn.addClass('disabled');

        console.log(archData);

        $.ajax({
          type:'POST',
          url:archUrl,
          data:archData,
          success:function(json){
            if(json.status == 'success'){
              archiveCounter += 1;
              raiseSuccArch();
              console.log(json);
            }
            else if (json.status == 'error'){
              archiveCounter = 0;
              $archiveBtn.removeClass('disabled');
              raiseErrArch();
            }
            else{
              raiseWarn();
              console.log("Undefined response: ");
              console.log(json);
            }
          },
          error:function(xhr, errmsg, err){
            archiveCounter = 0;
            $archiveBtn.removeClass('disabled');
            raiseErrArch();
            console.log(errmsg);
          },
          dataType:'json'
        });

      }

      ///// Aux functions /////:
      //Updates the bar progress to the given number
      function updateBarProgress(num){
        var roundedNum = Math.floor(num);
        $progressBarVal.css("width", roundedNum + "%").attr('aria-valuenow', roundedNum);
      }

      function showBar(){
          $progressBar.removeClass('invisible');
      }

      function hideBar(){
          $progressBar.addClass('invisible');
      }
      /// Delete msgs
      function resetMsgs(){
        $('#errMsg{{mod_task.id}}').addClass('d-none');
        $('#warnMsg{{mod_task.id}}').addClass('d-none');
        $('#succMsg{{mod_task.id}}').addClass('d-none');
        $('#infoMsg{{mod_task.id}}').addClass('d-none');
      }

      function raiseErr(){
        $('#errMsg{{mod_task.id}}').removeClass('d-none');
      }
      function raiseWarn(){
        $('#warnMsg{{mod_task.id}}').removeClass('d-none');
      }
      function raiseSucc(){
        $('#succMsg{{mod_task.id}}').removeClass('d-none');
        location.reload()
      }
      
      //Archive msgs:
      function resetArchMsgs(){
        $('#info-msg-archive{{mod_task.id}}').addClass('d-none');
        $('#succ-msg-archive{{mod_task.id}}').addClass('d-none');
        $('#err-msg-archive{{mod_task.id}}').addClass('d-none');
        $('#warn-msg-archive{{mod_task.id}}').addClass('d-none');
      }

      function raiseInfoArch(){
        $('#info-msg-archive{{mod_task.id}}').removeClass('d-none');
      }

      function raiseSuccArch(){
        $('#succ-msg-archive{{mod_task.id}}').removeClass('d-none');
        location.reload()
      }

      function raiseErrArch(){
        $('#err-msg-archive{{mod_task.id}}').removeClass('d-none');
      }

      function raiseWarnArch(){
        $('#warn-msg-archive{{mod_task.id}}').removeClass('d-none');
      }

    });



  </script>
  