{% load static %}

<!--
    Variables required by this template:
        mtask: the task refered by this item
        mform: form to be rendered by the modal

-->
<div class="row">
    <div class="col-11">
      <h5 class="font-weight-bold">{{ mtask.name }}</h5>
    </div>
    
    <div class="col-1">
      <a class="nav-link p-0 text-gray-700" href="{% url 'editar_tarea' mtask.id %}"><i class="fas fa-pen"></i></a>
    </div>
    
    <!--Este botón no va a estar presente para el segundo sprint, pero lo estará en el tercero-->
    <div class="col-1 d-none">
        <div class="text-gray-800 btn p-0" data-toggle="modal" data-target="#taskEditModal{{ mtask.id|stringformat:'i'}}" >
            <i class="fas fa-pen" ></i>
        </div>
        
    </div>
  </div>
  
  {% if mtask.status == 'New' %}
      <div class="badge badge-success text-light p-1    ">
          
              Nuevo 
              <i class="fas fa-star"></i>
          
      </div>
  {% elif mtask.status == 'In progress' %}
      <div class="badge badge-warning text-light p-1">
          
              En curso 
              <i class="fas fa-pen"></i>
          
      </div>
  {% elif mtask.status == 'Waiting' %}
      <div class="badge badge-danger text-light p-1">
          
              Detenido
              <i class="fas fa-snowflake"></i>
          
       </div>
  {% elif mtask.status == 'Closed' %}
      <div class="badge badge-primary text-light p-1">
          
              Hecho
              <i class="fas fa-check"></i>
          
      </div>
  {% endif %}
  <hr>
  {% include 'edit_task_modal.html' with taskId=mtask.id|stringformat:'i' form=mform%}
