{% load static %}

<!--
    Variables required by this template:
        item_task: the task refered by this item
        modal: Edit task modal
-->


<div class="row w-100">

    <div class="col-11">
        <div class="row ml-1">

            <a href="#" class="" data-toggle="modal" data-target="#m{{item_task.id|stringformat:'i'}}" style="text-decoration:none;">
                        <!--Title (color depending on the status)-->
                            {% if item_task.status == 'New'%}
                            
                            <h5 class="text-success font-weight-bold float-left">{{ item_task.name }}</h5>
                              
                            {% elif item_task.status == 'In progress'%}
                              
                            <h5 class="text-warning font-weight-bold float-left">{{ item_task.name }}</h5>
                
                            {% elif item_task.status == 'Waiting'%}
                
                            <h5 class="text-danger font-weight-bold float-left">{{ item_task.name }}</h5>
                            
                            {% elif item_task.status == 'Closed' %}
                            
                            <h5 class="text-primary font-weight-bold float-left">{{ item_task.name }}</h5>
                            {% else %}
                            
                            <h5 class="text-dark font-weight-bold float-left">{{ item_task.name }}</h5>
                
                            {% endif %}
            </a>
        </div>
        <div class="row ml-1">
        
            <span class="small font-weight-italic">
                {% if task.description|length >= 130 %}
                  {{item_task.description|truncatechars:127}}...
                {% elif item_task.description|length == 0 %}
                  (Sin descripción)
                {% else %}
                  {{ item_task.description }}
                {% endif %}
            
            </span>
        </div>
    </div>
    <div class="col-1">
        <div class="text-gray-800 btn p-0 modal-edit-trigger" data-toggle="modal" data-target="#{{modal}}" 
            data-tname="{{item_task.name}}" data-tdescript="{{item_task.description}}" data-tinitdate=" {{item_task.init_date}} "
            data-tenddate=" {{item_task.end_date}} " data-status="{{item_task.status}}" data-tid="{{ item_task.id }}">
            <i class="fas fa-pen" ></i>
        </div>     
    </div>

</div>
<hr>
{% include 'task_modal.html' with mod_task=item_task %}